<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Reports manager</title>
  </head>
  <body>

<!--  header-->
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm p-3 mb-5 bg-body-tertiary rounded">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" th:href="@{/users}">All users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/tasks}">All tasks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/task-create}">Create new task</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/user-create}">Create new user</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/reports-manager}">Reports manager</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
<!-- /header-->

    <div class="container">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <div class="m-3">
            <p>Users Report</p>
            <a class="btn btn-secondary" th:href="@{/users/report/excel}" target="_blank">Download to excel file</a>
          </div>
          <div class="m-3">
            <p>Tasks Report</p>
            <a class="btn btn-secondary" th:href="@{/tasks/report/excel}" target="_blank">Download to excel file</a>
          </div>

<!--          <div class="m-3">-->
<!--            <div>-->
<!--              <form action="/user/report/excel/{id}" method="post">-->
<!--                <label for="user">Select the user</label>-->
<!--                <select id="user" th:field="*{id}"  name="id"  class="form-control form-control-lg mb-3">-->
<!--                  <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.firstName} + ' ' + ${user.lastName}"></option>-->
<!--                </select>-->
<!--                <button class="btn btn-secondary" type="submit">Generate Excel Report</button>-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->

        </div>
      </div>
      <a th:href="@{/tasks}" class="btn btn-warning mt-3">Return to tasks list</a>
      <a th:href="@{/users}" class="btn btn-warning mt-3">Return to users list</a>
    </div>
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2024 TaskAPI</p>
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a th:href="@{/tasks}" class="nav-link link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Tasks</a></li>
          <li class="nav-item"><a th:href="@{/users}" class="nav-link link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Users</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">About</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>